<div class='gh-dashboard-zero'>
  <div class='gh-dashboard-zero-message'>
    <h4>{{t 'Manual.Dashboard.Welcome_to_your_dashboard'}}</h4>
    <p>{{t "Manual.Dashboard.You'll_find_member_analytics_here_once"}}<br />{{t
        'Manual.Dashboard.someone_signs_up.'
      }}</p>
    <p><LinkTo @route='members'>{{t 'Manual.Dashboard.Add_or_import_members'}} &rarr;</LinkTo></p>
  </div>
</div>